.banner {
    background-color: #CAE6EC;
    .text{
        font-size: 19px;
    }
}
.contactPageForm{
    background-color: #fff !important;
}

.head-centered{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: .5s ease;
  opacity: 1;
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  h1 {
    font-size: 60px !important;
  }
}

.image-slider {
  div:nth-child(1) {  
    background: rgba(0, 0, 0, .6);
    opacity: 0.8;
  }

}

@media only screen and (max-width: 820px) {
  .head-centered{
    h1 {
      font-size: 36px !important;
    }
  }
  .navbar-brand-name{
    font-size: 22px !important;
  }
}