.form-size{
    min-height: calc(100vh - 90px);
}
form {
    padding-top: 20px;
}
label {
	font-size: 12px;
	font-weight: 400;
	font-family: $main-fonts;
	float: left;
}
.form-control,
select {
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 16px;
    line-height: 1.42857143;
    color: #444;
    background-color: $white;
    background-image: none;
    border: 1px solid #ddd;
    border-radius: 10px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    height: 45px;
    &:focus {
        border-color: #999;
        outline: 0;
        -webkit-box-shadow: transparent;
        box-shadow: transparent;
    }
    
}
.form-control {
	&::-webkit-input-placeholder {
		color: #777;
	}
	&:-moz-placeholder {
		color: #777;
	}
	&::-moz-placeholder {
		color: #777;
	}
	&:-ms-input-placeholder {
		color: #777;
	}
}
