$primary-color: #ec4933;
$white: #ffffff;
$main-color: #2d3c43;

$main-fonts: "Open Sans","Helvetica","sans-serif","Arial";

$theme-colors: (
  "custom-primary": $primary-color
);
$font-family-base: $main-fonts;